/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

header {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Вирівнює елементи вертикально по центру */
    justify-content: space-between; /* Розташовує елементи зліва і справа */
    height: 65px;
}

.search-container {
    margin-top: 10px;
    margin-right: 30px;
}

.search-container input {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #00796B;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00796B;
}

nav .tab {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav .tab.active {
    background-color: #004D40;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.main-block
{
    margin: 30px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather
{
    background-color:white;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-block-header
{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center; /* Вирівнює елементи вертикально по центру */
    justify-content: space-between; /* Розташовує елементи зліва і справа */
    color: #009688;
    font-weight: bold;
    font-size: large;
}

.weather-block-main
{
    width: 30%; 
    height: 155px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.hourly-weather {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hourly-table-header, .hour-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
}

.hourly-table-header {
    font-weight: bold;
    color: #00796B;
    border-bottom: 2px solid #009688; /* Підкреслення заголовків */
    margin-bottom: 5px;
}

.hour-row img {
    width: 30px;
    height: 30px;
}

.hour-cell {
    flex: 1;
    text-align: center;

}

img.weather-hourly-img {
    height: 50px;
    width: 50px;
}

.nearby-places
{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    height:270px;
}

/* Загальні стилі */
.nearby-places {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #009688;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Сітка з місцями */
.places-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Дві колонки */
    gap: 10px; /* Відступ між блоками */
}

/* Стиль для кожного блоку */
.place {
    margin: 10px;
    background-color: rgb(241, 239, 239);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.place-name {
    min-width: 150px;
}

.temperature {
    font-weight: bold;
    color: #555;
}

.tab-content {
    display: none;
    width: 100%;

}

.tab-content.active {
    display: block;
    width: 100%;
}

.five-day-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 3px solid #ccc; /* Додаємо бордер */
    border-radius: 8px;
    transition: background-color 0.3s; /* Плавний ефект зміни фону */
    cursor: pointer;
}

.forecast-item.selected {
    background-color: #e0e0e0; /* Сірий фон для вибраного блоку */
    border-color: #00796b; /* Змінюємо бордер для вибраного */
}


.forecast-date {
    font-weight: bold;
    color: #009688;
    margin-bottom: 5px;
}

.forecast-icon {
    width: 100px;
    height: 100px;
}

.forecast-temp {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.forecast-desc {
    font-size: 14px;
    color: #555;
}
